html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica,
				 			 'Microsoft JhengHei', 'Microsoft YaHei', 
               'PingFang TC', 'PingFang SC',  
               'Heiti TC', 'Heiti SC', 
               'LiHei Pro', 'STXihei', 
               sans-serif;
  letter-spacing: 0.05em;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 20px;
  }
}
body {
  background-image: url("../images/bg-2.png"), url("../images/bg.png");
	background-repeat: no-repeat;
	background-position: left bottom, center top;
  background-size: 25% auto, 100% 100%;
	&::before{ 
		content: "";
		display: block;
		width: 35%;
		height: 35%*(1006/687);
		position: absolute;
		bottom: 18%;
    right: 5%;
		background-image: url("../images/login.png");//船
		background-repeat: no-repeat;
		background-position: center center;
  	background-size: 100% auto;
	}
	
  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;
  }
}
//主體模板// ************************************************* //
$chat-color: #533C34; 
header {
  .header-logo {
    padding: 0 .75rem;
    line-height: 1;
    width: 6rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
		z-index: $zindex-modal;
    @media screen and (min-width: 1200px) {
      width: 10%;
    }
    img, svg {
      width: 100%;
    }
  }
}
main {
  width: 100%;
  height: 100%;
  > [class*="container"] {
    height: 100%;
  }
}
.robot-frame {
  //限制高度，故 dialog::before
  height: 20vh;
  max-height: 20vh;
  padding: 0 1rem;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  .avatar {
    flex: 0 0 auto;
    width: auto;
    height: 20vh;
    margin: 0 1rem 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 1rem 100%, 1rem calc(100% - 1rem), 0 calc(100% - 1rem));
    @media screen and (min-width: 992px) {
      height: 22.5vh;
      margin: 0 1rem;
    }
    > img, > svg {
      width: auto;
      height: 100%;
    }
  }
  .dialog {
    background-color: $white;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    position: relative;
    box-shadow: $box-shadow-sm;
    .dialog-text {
      padding: .75rem 1rem;
      max-height: 16vh;
      overflow-y: auto;
      h2, .h4 {
        @media screen and (max-width: 575px) {
          font-size: 1rem;
        }
      }
      h2:last-child, .h4:last-child {
        margin-bottom: 0;
      }
      &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $gray-500;
        border: 2px solid $white;
        border-radius: 10px;
      }
    }
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1rem 1rem 0;
      border-color: transparent $white transparent transparent;
      position: absolute;
      top: 0;
      left: -1rem;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1rem 1rem 0;
      border-color: transparent rgba($black, .075) transparent transparent;
      position: absolute;
      top: .125rem;
      left: -1rem;
      z-index: -1;
      filter: blur(.25rem);
    }
  }
}
@mixin futuristicFrame($color) {
  ///*.futuristic-frame{  */
  $futuristic-border: .325rem;
  height: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
  padding-top: 1rem;
  position: relative;
  color: $color;
  .futuristic-frame-border {
    height: 100%;
    max-height: 100%;
    background-color: rgba($white, .75);
		background-image:  url("../images/bg-modal.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100% 100%;
    border: $futuristic-border solid $color;
    border-radius: $border-radius-xl;
    position: relative;
    padding-left: 0;
    padding-right: 3px;
    &::before {
      content: "";
      display: block;
      width: 70%;
      height: calc(1.5rem + #{$futuristic-border});
      clip-path: polygon(0 0%, 100% 0, 100% 100%, 1.5rem 100%);
      background-color: $color;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      border-radius: 0 $border-radius-xl*.5 0 0;
    }
  }
  .futuristic-frame-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100% - (1.5rem + #{$futuristic-border}));
    max-height: calc(100% - (1.5rem + #{$futuristic-border}));
    overflow-X: hidden;
    overflow-y: scroll;
    padding: 3rem 1.5rem;
    margin-top: calc(1.5rem + #{$futuristic-border});
    @media screen and (min-width: 576px) and (max-width: 991px) {
      padding: 3rem 6rem;
    }
    @media screen and (min-width: 1400px) {
      padding: 3rem 6rem;
    }
    &::-webkit-scrollbar {
      width: 7px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color;
      border-radius: 7px;
    }
    .futuristic-frame-tool {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9;
      height: calc(3.5rem + 0.325rem);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 .75rem;
			background-color: $primary;
			//border-radius: calc(1rem - (.325rem*.5)) calc(1rem - (.325rem*.5)) 0 0;
			.avatar{
				width: 3rem;
				height: 3rem;
				background-color: transparent;
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 auto;
				border-radius: 100%;
				overflow: hidden;
				margin-left: 0;
				margin-right: .75rem;
				@media screen and (min-width: 992px) {
				width: 3.2rem;
				height: 3.2rem;
				}
				.avatar-img{
					display: block;
					width: 100%;
					height: 100%;
					> img{
						width: 100%;
						height: 100%;
					}	
				}
				.avatar-text{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					background-color: $white;
					color: $primary;
					font-size: 3rem*.5;
					@media screen and (min-width: 992px) {
					font-size: 3.75rem*.5;
					}
				}
			}
			.avatar-name{
				display: flex;
				flex-direction: column;
				color: #fff;
				font-weight: bold;
				.online-alert{
					font-size: .75rem;
					font-weight: normal;
					color: $gray-400;
					&::before{
						content: "";
						display: inline-block;
						width: .8em;
						height: .8em;
						background-color: #4ade80;
						border-radius: 100%;
						vertical-align: middle;
						margin-right: .25rem;
						animation: onlineFade 2s ease-in-out infinite;
					}
				}
			}
    }
  }
}
.futuristic-frame {
  @include futuristicFrame($primary);
}
.futuristic-frame.chat {
  @include futuristicFrame($chat-color);
}
.robot-frame + .futuristic-frame {
  padding-top: 1rem;
  height: calc(80% - 1rem);
  max-height: calc(80% - 1rem);
}