 *::-webkit-scrollbar{  
    background-color: transparent;
    width: 1.1rem;  
    height:1.1rem; 
}    
*::-webkit-scrollbar-track{
  background-color: #7AE2E5;
} 
*::-webkit-scrollbar-thumb{ 
    background-color: $white;
    border-radius: 1.1rem;
    border: 2px solid #7AE2E5;
    &:hover{
        border-color: #7AE2E5;      
    }
} 

.table-responsive{
	&::-webkit-scrollbar{  
		background-color: transparent;
		width: .75rem;  
		height:.75rem; 
	}
	&::-webkit-scrollbar-track{
	  background-color: $border-color;
	} 
	&::-webkit-scrollbar-thumb{ 
		background-color: $yellow-100;
		border-radius: .75rem;
		border: 3px solid $border-color;
	} 	
}