.zindex-modal{
	z-index: $zindex-modal + 1;
}
.start-modal{
	--bs-modal-bg: var(--bs-primary);
	--bs-modal-border-color: var(--bs-primary);
	--bs-modal-border-width: .325rem;
	--bs-modal-border-radius: 1rem;
	--bs-modal-inner-border-radius: calc(1rem - 1px);
	--bs-modal-header-border-color: var(--bs-primary);
	--bs-modal-footer-border-color: var(--bs-primary);
	color: $primary !important;
	background-image: url("../images/bg-seagull-an.png"), url("../images/bg-pier-an.png"), url("../images/bg.png");
	background-repeat: no-repeat;
	background-position: right 2.5% top 5%, left bottom, center top;
  background-size: 25% auto, 28% auto, 100% 100%;
	&::before{ 
		content: "";
		display: block;
		width: 35%;
		height: 0;
		padding-bottom: 35%*(687/1006);
		position: absolute;
		bottom: 5%;
    right: 5%;
		background-image: url("../images/bg-boat.png");//船
		background-repeat: no-repeat;
		background-position: center center;
  	background-size: 100% auto;
		clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 65%, 53% 65%);
		z-index: $zindex-modal + 1;
		transform-origin: 50% 70%;
		will-change: transform;
		animation: boatWave 3s infinite alternate linear;
	}
	.modal-content{ 
		border: 0.325rem solid $primary;
		box-shadow: $box-shadow-lg;
	}
	.modal-header{
		flex-direction: column;
		justify-content: flex-start;
		.btn-close{
			position: absolute;
			top: .75rem;
			right: .75rem;
		}
	}
	.modal-body{
		background-image: url("../images/bg-modal.jpg");
		background-repeat: repeat-x;
		background-position: center center;
		background-size: cover;
	}
	
	.modal-title{
		color: $white;
		font-size: $h2-font-size;
		font-weight: bolder;
		text-shadow: 0 0 5px rgba($black, .5);
	}
	.modal-subtitle{
		font-size: $h7-font-size;
		color: rgba($white, .75);
		margin-top: .325rem;
	}
	
	.form-control, .form-check-input{
		border-color: $primary-300;
	}
	.btn-secondary{
		color: $primary;
		border: 1px solid $secondary-600;
		box-shadow: inset 0 -8px 10px rgba($white, .9) , 0 2px 5px rgba($primary, .25);
		text-shadow: 1px 1px rgba($white, .5);
		animation: startGlow 1.5s infinite alternate ease-in-out;
		&:active{
			color: $primary;
			box-shadow: inset 0 8px 10px rgba($primary, .25) 	
		}
		&:disabled, &.disabled {
			animation: none;
		}
	}
}
.start-btn-check{
	+ .start-btn{ 
		padding: 0;
		text-align: center;
		font-size: 15px;
		white-space: nowrap;
		position: relative;
		.start-btn-img{
			width: 100px;
			height: 100px;
			border-radius: 100%;
			overflow: hidden;
		}
		.start-btn-name{
			margin-top: 8px;
		}
	}
}
.start-btn-check:hover{
	+ .start-btn{ 
		cursor: pointer;
		.start-btn-img{
			transform: scale(1.1);
			transition: transform .35s ease-in-out;
			img{
				filter: brightness(1.15);	
			}
		}
	}
}
.start-btn-check:checked{
	+ .start-btn{ 
		.start-btn-img{
			filter: drop-shadow(0 .5rem 1rem rgba($black, .15));
			transform: scale(1.1);
			border: 4px solid $primary;
			img{
				filter: brightness(1.15);	
			}
		}
		.start-btn-name{
			font-weight: bold;
		}
		&::after{
			content: "\f00c";
			font-family: "Font Awesome 6 Free"; 
			font-weight: 900;
			font-size: 20px;
			color: $white;
			line-height: 1;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 100px;
			right: 0;
			transform: translateY(-100%);
			background-color: $primary;
			width: 28px;
			height: 28px;
			border-radius: 100%;
		}
	}
}

