html, body{ 
    font-family: 'Noto Sans',
                 'Noto Sans TC', 'Microsoft JhengHei', 
                 'PingFang TC', 
                 'Heiti TC', 
                 'LiHei Pro',
                 sans-serif !important;
	background-image: url("../images/bg.png");
	background-position: left top; 
	background-size: 100% 100%; 
	background-attachment: fixed; 
	background-repeat: no-repeat;	
    font-size: 18px;
    @media screen and (min-width: 768px) {
    font-size: 19px;    
    }
    @media screen and (min-width: 1200px) {
    font-size: 20px;    
    }
    letter-spacing: .05rem;
    font-weight: 400;
}