@keyframes flashAn {
    from { opacity: 1.0; }
    to {   opacity: 0.25; }
}

@keyframes volume {
    0%   { background-image: url("../images/volume-0.svg"); }
    25%  { background-image: url("../images/volume-1.svg"); }
    50%  { background-image: url("../images/volume-2.svg"); }
    75%  { background-image: url("../images/volume-3.svg"); } 
    100% { background-image: url("../images/volume-0.svg"); }
}

@keyframes rec {
    0%   { box-shadow: 0 0 0 0.25rem rgba($primary, .5);}
    50%  { box-shadow: 0 0 0 0.25rem rgba($primary, 0); }
    100% { box-shadow: 0 0 0 0.25rem rgba($primary, .5);}    
}


@keyframes startGlow {
  	0% { transform: scale(1.00);}
	100% { transform: scale(1.05);}
}

@keyframes boatWave {
    0%   { transform: translate(0, 0) rotate(-2deg); }
    100% { transform: translate(30px, -10px) rotate(2deg); }    
}

@keyframes onlineFade {
		 0%  { opacity: 1; }
		50% {  opacity: 0.25; }
	 100% {  opacity: 1; }
}

