ruby{ 
    display: inline-flex; 
    flex-direction: column-reverse;
    align-items: center;
    vertical-align: text-bottom;
		font-family: "DFKai-SB", KaiU, BiauKai, SimSun, NSimSun, "Times New Roman", serif; 
    line-height: 1;
    rb{ 
        line-height: 1;
		min-width: 1em;
    }
    rt{
        line-height: 1.4;
        font-weight: normal !important;
		font-family: "Times New Roman", serif !important;
    }
}
ruby.top {   flex-direction: column-reverse;}
ruby.bottom {flex-direction: column;}
ruby.blank{
	rb{
		text-indent: -9999px;
		position: relative;
		box-shadow: inset 0 -1px #333;
	}
	rt{
		text-indent: -9999px;
	}
}