//frome sckids
.btn-gradient {
    display: inline-block;
    background: -webkit-linear-gradient(bottom left, rgba(225,151,46,1) 0%, rgba(233,75,63,1) 100%);
    background: -o-linear-gradient(bottom left, rgba(225,151,46,1) 0%, rgba(233,75,63,1) 100%);
    background: linear-gradient(to top right, rgba(225,151,46,1) 0%, rgba(233,75,63,1) 100%); 
    border: none;
    color: #fff;
    //border-radius: .5rem;
    //padding: .5rem .75rem;
    //font-size: .9rem;
    line-height: 1;
    text-decoration: none;
		transition: .35s ease-out;
    &:hover, &:focus, &:active{
        color: #fff;
        text-decoration: none;
        transform: scale(1.1);
    }
}